# Database Configuration (PostgreSQL)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Email & SMTP Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=

# Replace with your email address and App Password
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=