<!DOCTYPE html>
{% load static %} {% load static tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% tailwind_css %}
    <title>{% block title %}{% endblock title %}</title>
    <link class='rounded-full' rel="icon" type="image/x-icon" href="{{ about.image.url }}">
  </head>
  <body class="bg-gray-200 " id='about'>
{% comment %} nav start {% endcomment %}
<div class='lg:w-11/12 lg:mx-auto fixed top-0 left-0 right-0 z-50'>
  <nav class="bg-white md:rounded-full lg:rounded-full justify-center items-center py-3 shadow-xl md:mx-4 lg:mx-4 mt-4">
    <div class="flex justify-between items-center mx-3 text-lg">
      {% for about in about %}
      {% if about.status %}
      <ul class="flex-shrink-0">
        <li><a href="#home"><img class='w-10 h-10 rounded-full ring md:mx-1' src="{{ about.image.url }}" alt="Logo"></a></li>
      </ul>
      {% endif %}
      {% endfor %}
      
      <ul class="flex space-x-2 sm:space-x-8 lg:space-x-12 text-sm sm:text-lg md:text-lg lg:text-lg">
        <li><a class='hover:text-red-500' href="#home">Home</a></li>
        <li><a class='hover:text-red-500' href="#skill">Skill's</a></li>
        <li><a class='hover:text-red-500' href="#project">Projects</a></li>
        {% if experience %}
        <li><a class='hover:text-red-500' href="#experience">Experience</a></li>
        {% endif %}
      </ul>
      
      <ul class="flex-shrink-0 space-x-2">
        <li><a href="#contact"><img class='w-10 h-10' src="{% static "image/contact.png" %}" alt="Contact Icon"></a></li>
      </ul>
      
    </div>
  </nav>
</div>
{% comment %} nav end {% endcomment %}



     {% block content %}{% endblock content %} 
     
     
{% comment %} footer start {% endcomment %}
<footer class="lg:w-11/12 mx-auto mt-4">
  <div style="background-color: rgba(21, 4, 64, 1.0);" class="flex flex-col justify-center md:justify-evenly items-center md:flex-row md:items-center p-4 lg:rounded-t-md">
      <!-- Contact Information -->
      <div class="text-white text-sm text-center md:text-start lg:text-start mb-4 md:mb-0 space-y-2">
        {% for about in about %}
        {% if about.status %}
        <div class='flex space-x-2'>
          <img class='size-5' src="{% static "image/profileicon.png" %}" alt="">
          <p>{{about.first_name}} {{about.last_name}}</p>
        </div>
        <div class='flex space-x-2'>
          <img class='size-5' src="{% static "image/email.png" %}" alt="">
          <p>{{about.email}}</p>
        </div>
        <div class='flex space-x-2'>
          <img class='size-5' src="{% static "image/phone-call.png" %}" alt="">
          <p>{{about.phone}}</p>
          {% endif %}
          {% endfor %}
        </div>
      </div>
  
      <!-- Social Media Links -->
      <div class="flex flex-wrap justify-center gap-2 mb-4 md:gap-4 lg:gap-6 mt-3">
        {% for data in data %}
        {% if data.status %}
        <a class='flex flex-col justify-center items-center basis-auto md:basis-auto lg:basis-auto' href="{{ data.url }}" target="_blank">
            <img class="h-6 w-6 md:h-6 md:w-6 lg:h-7 lg:w-7" src="{{ data.logo.url }}" alt="">
            <h2 class='text-white text-sm my-2'>{{data.title}}</h2>
        </a>
        {% endif %}
        {% endfor %}
    </div>
           
          <!-- Navigation Links -->
    <div class="text-white text-sm my-2">
        <ul class="flex flex-row space-x-3 md:flex-col md:space-x-0 md:space-y-2">
            <li><a href="#about" class="hover:text-gray-400">About</a></li>
            <li><a href="#skill" class="hover:text-gray-400">Skills</a></li>
            <li><a href="#project" class="hover:text-gray-400">Projects</a></li>
            {% if experience %}
            <li><a href="#experience" class="hover:text-gray-400">Experience</a></li>
            {% endif %}
            <li><a href="#contact" class="hover:text-gray-400">Contact</a></li>
        </ul>
    </div>
  </div>
  
<!-- Copyright Notice -->
 {% for about in about %}
 {% if about.status %}
<div style="background-color: rgba(21, 4, 64, 0.9);" class=" text-white text-sm text-center py-2">
    © {{year}} {{about.first_name}} {{about.last_name}}. All rights reserved.
</div>
{% endif %}
{% endfor %}
  </footer>
    {% comment %} footerend {% endcomment %}
  </body>
</html>
