{% extends "base.html" %}
{% load static %}
{% block title %}{{about.first_name}}{% endblock title %}
{% block content %}
{% comment %} hove section start {% endcomment %}
<div id='home' class=''>
    {% comment %} <h1 class='text-2xl font-bold mx-2 my-3 md:mx-14 lg:mx-16 md:mt-10 lg:mt-10 text-left'>About</h1> {% endcomment %}
</div class=''>
    <div class="mb-10 lg:w-11/12 xl:w-11/12 mx-auto mt-5">
        <div id='home' class='m-2 md:flex lg:flex sm:justify-center lg:justify-evenly lg:items-center sm:mt-2 md:mx-6 lg:mx-auto md:mt-2 shadow-sm sm:shadow-md md:shadow-lg lg:shadow-lg rounded-md bg-gray-100 py-8'>
            <div class='md:w-1/2 lg:w-1/2 sm:mx-5 lg:mx-5'>
                <div class='text-2xl font-bold flex justify-center items-center space-x-2 sm:justify-normal lg:justify-normal'>
                    
                    <h2 class='text-blue-700'>{{about.first_name}}</h2>
                    <h2 class='text-teal-600'>{{about.last_name}}</h2>
                </div>
                <div class='text-center sm:justify-normal lg:justify-normal flex font'><i>{{about.education}}</i></div>
                <hr class='my-1 sm:my-3 lg:my-3'>
                <div class='mx-1 text-sm sm:text-base md:text-lg lg:text-lg'>
                    {{about.description}}
                </div>
                <div class='flex justify-center md:justify-start lg:justify-start'>
                    <button class='mt-2 bg-blue-500 hover:bg-blue-600 text-white rounded-full p-2 sm:p-3 font-sans font-bold text-xs sm:text-sm my-2 sm:my-4'>
                        <a href="{{about.CV.url}}" target="_blank" class='block'>Download CV</a>
                    </button>
                    
                </div>
            </div>

            <div class='flex justify-center my-3'><img class='rounded-full size-52 md:size-60 lg:size-80 sm:rounded-3xl lg:rounded-3xl ring sm:ring md:aria-hidden:ring' src="{{about.image.url}}" alt=""></div>
        </div>
    </div>
{% comment %} home section end {% endcomment %}

{% comment %} about section start {% endcomment %}
<div id='skill' class='lg:w-11/12 xl:w-11/12 mx-auto'>
    {% comment %} <h1 class='text-2xl font-bold mx-2 -mb-3 mt-3 md:mx-14 lg:mx-16'>Skill's</h1> {% endcomment %}
</div>
<div class='mx-2 md:mx-6 shadow-lg mt-6 rounded-lg bg-gray-100 mb-10 lg:w-11/12 xl:w-11/12 lg:mx-auto xl:mx-auto'>
    <hr>
    <div class='mx-2 flex flex-col md:flex md:flex-row lg:flex lg:flex-row md:justify-around md:items-center lg:justify-around lg:items-center lg:mx-32 py-8 '>
        
        <div class='md:w-1/2 lg:w-1/2 sm:text-center lg:text-center md:text-center xl:justify-center md:mx-6 lg:mx-6 xl:mx-6'>
            {% for img in skimg %}
                {% if forloop.first or forloop.counter0|divisibleby:3 %}
                    <ul class='flex justify-center'>
                        {% endif %}
                            <li class='size-12 m-5 sm:size-16 md:size-20 lg:size-20 sm:mx-8 md:mx-8 lg:mx-12 flex w-1/3'>
                                <img class='flex justify-center' src="{{ img.image.url }}" alt="">
                            </li>
                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </ul>
                {% endif %}
            {% endfor %}

        </div>
        <div class="md:h-96 lg:h-80 md:w-px bg-gray-400 md:mx-4"></div>
            <div class='md:w-1/2 lg:w-1/2 py-2 flex justify-center items-center'>
                <ul class='bg-gray-200 p-4 rounded-lg shadow-md md:text-md lg:text-md md:p-6 lg:p-10 space-y-4'>
                    {% if skill.programming_languages %}
                        <li>Languages: {{ skill.programming_languages }}</li>
                        <hr class="border-t-2 border-gray-400">
                    {% endif %}
                    {% if skill.frameworks %}
                        <li>Frameworks: {{ skill.frameworks }}</li>
                        <hr class="border-t-2 border-gray-400">
                    {% endif %}
                    {% if skill.tolse_and_platforms %}
                        <li>Tolse & Platforms: {{ skill.tolse_and_platforms }}</li>
                        <hr class="border-t-2 border-gray-400">
                    {% endif %}
                    {% if skill.databases %}
                        <li>Databases: {{ skill.databases }}</li>
                        <hr class="border-t-2 border-gray-400">
                    {% endif %}
                    {% if skill.cloud_and_devops %}
                        <li>Cloud & Devops: {{ skill.cloud_and_devops }}</li>
                        <hr class="border-t-2 border-gray-400">
                    {% endif %}
                    {% if skill.soft_skills %}
                        <li>Soft Skills: {{ skill.soft_skills }}</li>
                        <hr class="border-t-2 border-gray-400">
                    {% endif %}
                    <li>Operating Systems: {{ skill.operating_systems }}</li>
                    <hr class="border-t-2 border-gray-400">
                    {% if skill.version_control %}
                        <li>Virson Control: {{ skill.version_control }}</li>
                        <hr class="border-t-2 border-gray-400">
                    {% endif %}
                    {% if skill.testing %}
                        <li>Testing: {{ skill.testing }}</li>
                        <hr class="border-t-2 border-gray-400">
                    {% endif %}
                    {% if skill.others %}
                        <li>Others: {{ skill.others }}</li>
                    {% endif %}
                </ul>
        </div>           
    </div>
</div>
{% comment %} about section end {% endcomment %}


{% comment %} project start here {% endcomment %}
<div id='project' class="lg:w-11/12 xl:w-11/12 lg:mx-auto xl:mx-auto">
    {% comment %} <h1 class='text-2xl font-bold mx-2 my-3 md:mx-14 lg:mx-16 text-left'>Projects</h1> {% endcomment %}
</div>

<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 md:mx-6 lg:w-11/12 xl:w-11/12 lg:mx-auto xl:mx-auto'>
    <div class="relative flex flex-col text-gray-700 bg-gray-100 shadow-md bg-clip-border rounded-xl w-full">

        <div class="relative h-56 mx-4 mt-4 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
            <img src="{% static "image/ogani.png" %}" alt="card-image" />
        </div>
        <div class="p-6">
            <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                E-commerce
            </h5>
            <p class="block text-base antialiased font-light leading-relaxed text-inherit">
                The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
            </p>
        </div>
        <div class="p-6 pt-0 text-center space-x-2 md:space-x-4 lg:space-x-6">
            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button"><a href="#" target="_blank">Live</a></button>

            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button"><a href="https://github.com/Hasan-TechNinja/Ogani.git" target="_blank">GitHub</a></button>
        </div>
    </div>

 
    <div class="relative flex flex-col text-gray-700 bg-gray-100 shadow-md bg-clip-border rounded-xl w-full">
        <div class="relative h-56 mx-4 mt-4 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
            <img src="{% static "image/shopping.png" %}" alt="card-image" />
        </div>
        <div class="p-6">
            <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                E-commerce
            </h5>
            <p class="block text-base antialiased font-light leading-relaxed text-inherit">
                The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
            </p>
        </div>
        <div class="p-6 pt-0 text-center space-x-2 md:space-x-4 lg:space-x-6">
            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">Live</button>

            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">GitHub</button>
        </div>
    </div>


    <div class="relative flex flex-col text-gray-700 bg-gray-100 shadow-md bg-clip-border rounded-xl w-full">
        <div class="relative h-56 mx-4 mt-4 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
            <img src="{% static "image/Ecommerce.png" %}" alt="card-image" />
        </div>
        <div class="p-6">
            <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                E-commerce
            </h5>
            <p class="block text-base antialiased font-light leading-relaxed text-inherit">
                The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
            </p>
        </div>
        <div class="p-6 pt-0 text-center space-x-2 md:space-x-4 lg:space-x-6">
            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">Live</button>

            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button"><a href="https://github.com/Hasan-TechNinja/Ecommerce.git" target="_blank">GitHub</a></button>
        </div>
    </div>


    <div class="relative flex flex-col text-gray-700 bg-gray-100 shadow-md bg-clip-border rounded-xl w-full">
        <div class="relative h-56 mx-4 mt-4 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
            <img src="{% static "image/shop.png" %}" alt="card-image" />
        </div>
        <div class="p-6">
            <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                E-commerce
            </h5>
            <p class="block text-base antialiased font-light leading-relaxed text-inherit">
                The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
            </p>
        </div>
        <div class="p-6 pt-0 text-center space-x-2 md:space-x-4 lg:space-x-6">
            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">Live</button>

            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button"><a href="https://github.com/Hasan-TechNinja/Shopping.git" target="_blank">GitHub</a></button>
        </div>
    </div>
</div>

{% comment %} project end here {% endcomment %}

{% comment %} Experience start {% endcomment %}

{% if experience %}
<div id='experience' class="w-full lg:w-11/12 xl:w-11/12 mt-10 lg:mx-auto xl:mx-auto">
    {% comment %} <h1 class='text-2xl font-bold mx-2 my-3 md:mx-14 lg:mx-16 text-left'>Experience</h1> {% endcomment %}
</div>

<div class='mb-3 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mx-4 md:mx-6 lg:w-11/12 xl:w-11/12 lg:mx-auto xl:mx-auto'>

    
    {% for data in experience %}
    <div class="relative flex flex-col text-gray-700 bg-gray-100 shadow-md bg-clip-border rounded-xl w-full"> 
        <div class="relative mx-4 my-4 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40">
            <div class='flex flex-col md:flex-row justify-around items-center'>
                <img class='w-14 h-14 m-2' src="{{data.company_logo.url}}" alt="Company Logo">
                <h2 class='text-black font-bold text-lg'>{{ data.company_name }}</h2>
            </div>
            <hr class='border-1 border-gray-800 justify-center my-2'>
            <div class='text-black mt-2 mx-1'>
                <p>{{data.description}}.</p>
            </div>
            <div>
                <ul class='text-black mt-4 mx-4'>
                    <li class='my-2'>Job Title: {{data.job_title}}</li>
                    <hr class='border-1 border-gray-400'>
                    <li class='my-2'>Location: {{data.location}}</li>
                    <hr class='border-1 border-gray-400'>
                    <li class='my-2'>Start date: {{data.start_date}}</li>
                    <hr class='border-1 border-gray-400'>
                    <li class='my-2'>End date: {{data.end_date}}</li>
                    <hr class='border-1 border-gray-400'>
                    <li class='my-2'>Is Current: {{data.is_current}}</li>
                    <hr class='border-1 border-gray-400'>
                    <li class='my-2'>Experience: </li>
                    <hr class='border-1 border-gray-400'>
                    <li class='my-2'>Technologies: {{data.technologies}}</li>
                    <hr class='border-1 border-gray-400'>
                    <li class='my-2 '>Website: <a class='text-blue-600 hover:underline' href="{{data.company_website}}" target='_blank'>Click me</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}

</div>  

{% endif %}


{% comment %} Experience end {% endcomment %}


{% comment %} contact start {% endcomment %}
<div id='contact' class='lg:w-11/12 xl:w-11/12 lg:mx-auto xl:mx-auto my-3 lg:mt-10 xl:mt-10'>
    {% comment %} <h1 class='text-2xl font-bold mx-2 my-3 md:mx-14 lg:mx-16 md:mt-10 lg:mt-10 text-left'>Contact</h1> {% endcomment %}
</div>
<div class="mb-10">
    <div id='home' class='m-2 md:mx-6 lg:mx-6 md:flex lg:flex sm:justify-center sm:mt-2 md:mt-2 shadow-sm sm:shadow-md md:shadow-lg lg:shadow-lg rounded-md bg-gray-100 py-8 lg:w-11/12 xl:w-11/12 lg:mx-auto xl:mx-auto'>
        <div class='sm:mx-5 lg:mx-5 w-full md:w-3/4 lg:w-1/2'>
            <p class='text-black text-center text-lg'>You can contact me at +8801739989028 (Whatsapp & Telegram)</p>
            <hr class='border-1 border-gray-400 mb-4 mt-1'>
            <form action="" method='POST' class='mx-1'>
                {% csrf_token %}
                {% for form in form %}
                    <div class="mb-4">
                        <label class='block text-sm font-medium text-gray-700'>
                            {{form.label_tag}} 
                        </label>
                        {% if form.errors %}
                            <p class='text-red-600 text-sm mt-1'>{{form.errors}}</p>
                        {% endif %}
                        <div class="mt-1">
                            {{form}}
                        </div>
                    </div>
                {% endfor %}    
                <button class='bg-gray-900 hover:shadow-lg text-white p-2 rounded mt-2 w-full sm:w-auto'>Submit</button>
                {% if messages %}
                {% for message in messages %}
                    <p class="text-sm md:text-lg lg:text-lg text-green-600 text-center mt-4">{{ message }}</p>
                {% endfor %}
            {% endif %}
            </form> 
        </div>
    </div>
</div>
{% comment %} contact end {% endcomment %}

</div>
{% endblock content %}